@tailwind base;
@tailwind components;
@tailwind utilities;

  @font-face {
    font-family: 'GeneralSans-Semibold';
    font-style: semibold;
    font-weight: 600;
    src: local(''), url('/fonts/GeneralSans-Semibold.woff2') format('woff2');
  }